<div class="row-space-around">
  <md-card>
    <md-card-title-group>
        <md-icon md-card-sm-image class="big">call_split</md-icon>
        <md-card-title>Multiple endpoints</md-card-title>
        <md-card-subtitle>REST Api</md-card-subtitle>
    </md-card-title-group>
    <md-card-actions>
      <button md-button color="primary" routerLink="/multiple" [disableRipple]="true">SELECT</button>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-title-group>
        <md-icon md-card-sm-image class="big">call_merge</md-icon>
        <md-card-title>Single endpoint</md-card-title>
        <md-card-subtitle>REST Api</md-card-subtitle>
    </md-card-title-group>
    <md-card-actions>
      <button md-button color="primary" routerLink="/single" [disableRipple]="true">SELECT</button>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-title-group>
        <md-icon md-card-sm-image class="big">timeline</md-icon>
        <md-card-title>GraphQL</md-card-title>
        <md-card-subtitle>AMAZING!</md-card-subtitle>
    </md-card-title-group>
    <md-card-actions>
      <button md-button color="primary" routerLink="/graphql" [disableRipple]="true">SELECT</button>
    </md-card-actions>
  </md-card>
</div>