<md-toolbar color="primary">
  <md-icon>monochrome_photos</md-icon>
  <a routerLink="/" class="home">InstaGraph</a>

  <span class="fill-remaining-space"></span>

  <button md-icon-button
    routerLink="/multiple" routerLinkActive="active"
    [disableRipple]="true"
    class="data-source">
    <md-icon>call_split</md-icon>
  </button>

  <button md-icon-button
    routerLink="/single" routerLinkActive="active"
    [disableRipple]="true" 
    class="data-source"> 
    <md-icon>call_merge</md-icon>
  </button>
  
  <button md-icon-button 
    routerLink="/graphql" routerLinkActive="active"
    [disableRipple]="true"
    class="data-source">
    <md-icon>timeline</md-icon>
  </button>
</md-toolbar>

<main>
  <router-outlet></router-outlet>
</main>