<div id="profile" *ngIf="me">
  <div class="photo">
    <img [src]="me.picture"/>
  </div>
  <div class="info">
    <h1>
      {{me.firstname}} {{me.surname}}
    </h1>
    <p>
      {{me.bio}}
    </p>
    <ul>
      <li>
        <span>Posts:</span>
        <span class="number">407</span>
      </li>
      <li>
        <span>Followers:</span>
        <span class="number">560</span>
      </li>
      <li>
        <span>Following:</span>
        <span class="number">342</span>
      </li>
    </ul>
  </div>
</div>