<div id="profile">
  <div class="photo">
    <img src="assets/profile.png"/>
  </div>
  <div class="info">
    <h1>
      Foo Barbaz
    </h1>
    <p>
      I use GraphQL, be like me. At least do the same haircut.
    </p>
    <ul>
      <li>
        <span>Posts:</span>
        <span class="number">407</span>
      </li>
      <li>
        <span>Followers:</span>
        <span class="number">560</span>
      </li>
      <li>
        <span>Following:</span>
        <span class="number">342</span>
      </li>
    </ul>
  </div>
</div>